body{

    overflow-x: hidden;

}



.myitem{

    transition:all .5s ease;

}

.myitem:hover {
    background-color:#F8F9FA;
  }



 .maindd{

   background-color:#F8F9FA;

 	
 }


 .scrollsectionpage{

 overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  height:300px;


 }

 .middle-scroll{


 overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  height:700px;


 }

 .activeuserscroll{

 overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  height:350px;


 }

 .groupscroll{



 overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  height:250px;


 }

 .coverphoto{

position:relative;



 }

 .coverbutton{


position:absolute;

top:55%;
left:75%;

 }

 .profileimage{


position:absolute;

top:58%;
left:10%;


 }

 .myprofileimage{

position:relative;

 }


 .dfdgdfg{

position:absolute;
top:58%;
left:80%;

  
 }

 .myicon{



 }

 .myicon{

   background-color:#F8F9FA;


 }


 .infobutton{


   background-color:white;

 }

 .mypostscroll{


 overflow-y: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  height:780px;



 }